<div class="container">
    <div class="row">
        <%= render 'users/list', user: @user,book: @book %>
        <div class="col-xs-9">
            <h2>Books</h2>
            <table class="table table-hover table-inverse">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Opinion</th>
                        <th colspan="3"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @books.each do |f| %>
                    <tr>

                        <th>
                        <%= link_to user_path(f.id) do %>
                        <%= attachment_image_tag User.find(f.user_id), :profile_image, :fill,60,60, size: "100x100", format:"jpeg",fallback:"no_image.jpg" %>
                        </th>
                        <% end %>
                        <th><%= link_to f.title,book_path(f.id) %></th>
                        <td><%= f.body %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
