<% if flash[:notice] %>
    <div class="flash">
        <%= flash[:notice] %>
    </div>
<% end %>

<h1>Book detail</h1>

    <%= @book.title %>

    <%= @book.body %>



<% if @book.user == current_user %>

    <%= link_to "Edit", edit_book_path(@book) %>

    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>

<% end %>